div:hover {
    border: 1px solid red;
}
div {
    width: 350px;
    text-align: center;
    
}
h3 {
    margin: 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cor-primaria {
    background-color: rgb(18, 70, 214);
    color: white;

}
#cor-secundaria {
    background-color: aqua;
}
#cor-complementar {
    background-color: aquamarine;
}
#cor-escura {
    background-color: blue;
    color: white;
}
#cor-clara {
    background-color: rgb(38, 186, 231);
    color: white
}
